---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
       -rw-rw-r--. 1 bri5ee bri5ee 1337 {{ post.date | date: date_format }}  <a href="{{ post.url | relative_url }}">{{ post.title | escape }}.txt</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
